body {
    background-color: gray;
}

#fundo {
    margin: 200px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.728);
    border-radius: 10px;
    height: 1000px;
    width: 700px;
    margin-top: 10px;
    padding: 20px;
}

#fundo2 {
    margin-left: 60px;
    background-color: rgba(251, 251, 251, 0.762);
    border-radius: 10px;
    max-width: 580px;
    height: 630px;
}

#fundo3 {
    text-align: center;
    background-color: rgb(247, 87, 87);
    border-radius: 10px;
    width: 700px;
    margin-right: 50px;
    height: 910px;
}

#foto {
    margin-left: 280px;
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-bottom: 10px;
}

#paragrafo {
    margin: 10px;
    display: block;
    clear: both;
}

.insta {
    margin-right: 1000px;
    width: 20px;
    height: 20px;
}

.margem {
    margin-right: 410px;
}

.redes {
    margin-right: 300px;
}

#redes2 {
    margin-right: 333px;
}

.link {
    margin-right: 234px;

}

#color {
    color: rgb(1, 0, 0);
}